@import url("https: //fonts.googleleapis.com/css?family=Lora|Roboto");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");


body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
  background-color: rgb(240, 240, 240);

}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h2 {
  padding-bottom: 20px;
}

p {
  font-family: 'Lora', sans-serif;
}

a {
  text-decoration: none;
}



.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 7px 7px 5px rgb(30 30 30 / 8%);
    border-radius: 9px;
    margin: 20px 0px;
}



.presentation {
  margin-top: 80px;
  margin-bottom: 60px;
  padding-top: 3%
}

.presentation h2 {
  text-align: center;
  font-size: 40px;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 7px;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-size: cover;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}


.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px;
}

.img-text {
  width: 300px;
  height: 180px;
  border-radius: 4px;

}

.team {
  margin-top: 100px;
  text-align: center;
}


ul {
  list-style-type: none;
}


.food {
  font-family: montsarrat, sans-serif;
}

.food h2 {
  text-align: center;
  font-size: 40px;
}


.tacos {
  width: 200px;
}

.price {
  width: 200px;
  text-align: left;
}


.list-hor {
  display: inline-flex;
}

.txt-white {
  color: white;
}

#menu {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

#menu a:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
  color: #4C8780;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

#menu:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}





